.Home {
  padding-top: 4rem;
}

.Home section {
  width: fit-content;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.Home section button {
  padding: 0.25rem 0.5rem;
}
