.Play {
  color: hsl(0, 0%, 90%);
}

.Play h2,
.Play h3,
.Play h4,
.Play h4 + p {
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 0.5rem;
}

.Play [data-buttons='next-and-end'] {
  display: flex;
  gap: 2rem;
  width: fit-content;
  margin-inline: auto;
  padding: 1rem;
}
