.Slot {
  background-color: gray;
  height: 8rem;
  width: 8rem;

  border-top: 2px solid black;
  border-radius: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Slot div[data-slot='empty'] {
  margin: 0.75rem;
  margin-block-start: auto;
  margin-inline-end: auto;

  color: gray;
  font-size: 1.5rem;
  text-shadow: 0 0 4px black;
}

.Slot div[data-slot='empty'] span {
  font-size: 1rem;
}
